body {
    background: rgb(246, 246, 201);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calc-container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.calc-body {
    background-color: #222;
    padding: 15px;
    border-radius: 18px;
    width: 20%;
    height: auto;
    box-shadow: 2px 2px 2px 2px #e21b1b;

}

.display {
    background-color: #bccd95;
    height: auto;
    display: flex;
    padding: 20px;
    margin-bottom: 15px;
}

button {
    border: none;
    color: black;
    width: 25%;
    height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #b5a9c4;
    color: white;
}

#ac {
    width: 50%;
    background-color: #42e8f1;
}

#equals {
    background-color: #f24c4c;
    width: 50%;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

.row3 {
    display: flex;
}

.row4 {
    display: flex;
}



footer {
    box-shadow: 0 -4px 6px rgba(26, 25, 25, 0.2);
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    margin: 0%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(196, 32, 32);
    text-decoration: none;
}